{% load sekizai_tags cms_tags stylus %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">

    {% render_block "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}{% stylus "css/core.styl" %}" />

    <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>

</head>
<body class="{% block tpl_id %}base{% endblock tpl_id %}">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
    <div class="main">
    <div class="back1"></div>
    <div class="back2"></div>
    <div class="back3"></div>
    <a href="/" id="logo_to_index"></a>
    <ul id="main-menu">
          <li><a data-idx="1" class="e1 slideme" href="sub#1">Licówki</a></li>
          <li><a data-idx="2" class="e2 slideme" href="sub#2">Ekspert</a></li>
          <li><a data-idx="3" class="e3 slideme" href="sub#3">Laboratoria Glamsmile</a></li>
          <li><a data-idx="4" class="e4 slideme" href="sub#4">Kontakt</a></li>
    </ul>
    {% block main %}
    <div class="large_frame_placeholder">{% placeholder "large_frame_placeholder" or %}
        <h1>Licówki sed ut perspitatis clue</h1>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        </p>
        {% endplaceholder %}</div>
    {% endblock main %}
    <div id="three_smaller_frames">
            <div class="last_small_frame">{% placeholder "last_small_frame" or %}<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>{% endplaceholder %}</div>
            <a data-idx="1" class="e1 slideme" href="sub#1"><span class="li_header"><img src="{{ STATIC_URL }}img/arrow.png">Licówki glamsmile<br />bez szlifowania</span></a>
            <a data-idx="3" class="e3 slideme" href="sub#3"><span class="li_header"><img src="{{ STATIC_URL }}img/arrow.png">Zobacz gdzie nas znajdziesz</span></a>
            <a data-idx="4" class="e4 slideme" href="sub#4"><span class="li_header"><img src="{{ STATIC_URL }}img/arrow.png">Skontaktuj się z nami</span></a>
    </div>
    {% block twocol %}{% endblock twocol %}
</div>
        <hr />
        <ul class="keywords" >
            {% block "keywords" %}{% placeholder "keywords" or %}
                <a href="#">Sed ut perspiciatis</a>
                <a href="#">unde omnis</a>
                <a href="#">iste natus</a>
                <a href="#">error sit</a>
                <a href="#">voluptatem accusantium</a>
                <a href="#">doloremque laudantium,</a>
            {% endplaceholder %}{% endblock "keywords" %}
        </ul>

        <ul class="languages">
            <img id="flag" src="{{ STATIC_URL }}img/pl.png">
            {% block "languages" %}{% placeholder "languages" or %}
                <a href="#">PL</a> -
                <a href="#">FR</a> -
                <a href="#">NL</a> -
                <a href="#">EN</a> -
                <a href="#">DE</a> -
                <a href="#">IT</a>
            {% endplaceholder %}{% endblock "languages" %}
        </ul>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>

        {% block extrajs %}{% endblock extrajs %}


        {% render_block "js" %}
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
