{% extends "base.html" %}
{% load cms_tags %}
{% block tpl_id %}sub{% endblock tpl_id %}

{% block main %}
<div class="slides">
    <div id="slider">
        <div id="slider-movable">
            <div class="slide" id="slide-1">
                <div class="content">
                    {% placeholder "slide_1" %}
                </div>
                <div class="button"><a class="slideme" href="#4" data-idx="4">{% placeholder "button_text" %}</a></div>
            </div>
            <div class="slide" id="slide-2">
                <div class="content">
                    {% placeholder "slide_2" %}
                </div>
                <div class="button"><a class="slideme" href="#4" data-idx="4">{% placeholder "button_text" %}</a></div>
            </div>
            <div class="slide" id="slide-3">
                <div class="content">
                    {% placeholder "slide_3" %}

                </div>
                <div class="button"><a class="slideme" href="#4" data-idx="4">{% placeholder "button_text" %}</a></div>
            </div>
            <div class="slide" id="slide-4">
                <div class="content">
                    <img src="{{ STATIC_URL }}img/a1.png" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block "keywords" %}{% show_placeholder "keywords" "index" %} {% endblock %}
{% block "languages" %}{% show_placeholder "languages" "index" %} {% endblock %}

{% block extrajs %}<script src="{{ STATIC_URL }}js/main.js"></script>{% endblock %}